src/main/resources/wsdl/RuleExecutionService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.inflexxion.com/bhcds/contract/RuleExecutionService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:di="http://www.inflexxion.com/bhcds/schema/RuleExecutionService" name="RuleExecutionService" targetNamespace="http://www.inflexxion.com/bhcds/contract/RuleExecutionService">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.inflexxion.com/bhcds/contract/RuleExecutionService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:di="http://www.inflexxion.com/bhcds/schema/RuleExecutionService" targetNamespace="http://www.inflexxion.com/bhcds/schema/RuleExecutionService">
			
  <xsd:element name="assertAndExecuteClinicalFactsRequest">
				
    <xsd:complexType>
					
      <xsd:sequence>
						
        <xsd:element name="clinicalFactXmlString" type="xsd:string"/>														
					
      </xsd:sequence>
				
    </xsd:complexType>
			
  </xsd:element>
			
  <xsd:element name="assertAndExecuteClinicalFactsResponse">
				
    <xsd:complexType>
					
      <xsd:sequence>
						
        <xsd:element name="ruleExecutionResponseContainer" type="xsd:string"/>
						
        <xsd:element name="rulesFired" type="xsd:string"/>
					
      </xsd:sequence>
				
    </xsd:complexType>
			
  </xsd:element>
			
		
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="assertAndExecuteClinicalFactsRequest">
    <wsdl:part element="di:assertAndExecuteClinicalFactsRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="assertAndExecuteClinicalFactsResponse">
    <wsdl:part element="di:assertAndExecuteClinicalFactsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RuleExecutionServicePortType">
    <wsdl:operation name="assertAndExecuteClinicalFacts">
<wsdl:documentation>Takes a collection of clincalFacts, patientId,
				and documentType and returns a .drl that enforces clinical adaptive
				policies
			</wsdl:documentation>
      <wsdl:input message="tns:assertAndExecuteClinicalFactsRequest">
    </wsdl:input>
      <wsdl:output message="tns:assertAndExecuteClinicalFactsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RuleExecutionServiceBinding" type="tns:RuleExecutionServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="assertAndExecuteClinicalFacts">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RuleExecutionService">
    <wsdl:port binding="tns:RuleExecutionServiceBinding" name="RuleExecutionServicePort">
     <soap:address location="https://54.165.71.143:8443/RuleExecutionService/services/RuleExecutionService"/> 
<!--       <soap:address location="http://54.165.71.143/RuleExecutionService/services/RuleExecutionService"/> -->
<!--       <soap:address location="http://bhamdevtest001:8080/RuleExecutionService/services/RuleExecutionService"/> -->
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>